{% extends 'accueil.html.twig' %}
{%block glyficon%}
<link href="{{ asset('modaal/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<script src="{{ asset('modaal/bootstrap.min.js') }}"></script>
<script src="{{ asset('modaal/jquery-3.2.1.min.js') }}"></script>



<style>
  .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  </style>
{% endblock%}
{% block title %}Gestion client{% endblock %}

{% block body %}

<div class="container col-md-11">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Rechercher client
</button></div>
<div></br></br></div>
<div class="row">

        <div class="container col-md-12">
            <div class="card ">
                <div class="card-header"><center style="color:red;">Liste des clients</center></div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Identifiant</th>
                            <th>CNI</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>email</th>
                            <th>Telephone</th>
                            <th>Salaire</th>
                            <th>Profession</th>
                            <!--<th>Company Name</th>-->
                            <th><center>Action</center></th>
                            <th><center>Action</center></th>
                            <th><center>Action</center></th>
                             
                        </tr>
                        {% for p in clients %}
                       
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.cni }}</td>
                                <td>{{ p.nom }}</td>
                                <td>{{ p.prenom }}</td>
                                <td>{{ p.email }}</td>
                                <td>{{ p.telephone }}</td>
                                <td>
                                    {% if p.salaire==''%}
                                        Neant
                                        {%else%}
                                        {{p.salaire}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if p.profession==''%}
                                        Neant
                                        {%else%}
                                        {{p.profession}}
                                    {% endif %}
                                    </td>
                                <!--<td>
                                    p.employeur.companyName
                                    </td>-->
                                <td><a href="{{ path('client_edit', {'id':p.id}) }}"><button type="button" class="btn btn-warning">Editer</button></a></td>
                                <td><a href="{{ path('client_AjoutCompte', {'id':p.id}) }}"><button type="button" class="btn btn-success">Ajout Compte</button></a></td>
                                <td><a href="{{ path('client_delete', {'id':p.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                            </tr>
                            
                        {% endfor %}
                    
                    </table>        
                </div>   
            </div>
        </div>
    </div>
    <div></br></br></br></br></div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">rechercher un client ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="container col-md-8">
                <div class="card ">
                    <div class="card-header"><center style="color:red;">Veuillez entrer le numero CNI !!!!</center></div>
                        <div class="card-body">
                      {{ form(forms) }}
                        </div>   
                </div> 
            </div>
</div>
      </div>
      <div class="modal-footer">
        <div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span>Copyright &copy; Banque-du-Peuple 2020</span>
  </div>
</div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

